*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.background-image{
   left: 0px;
    height: 140px;
    width: 1460px;
    margin-top: 0px;
}
.navbar {
    background-color: rgba(6, 18, 60, 0.952);
    color: #b71190;
    padding-top: 5px 0;
    height: 50px;
    
  }
  
  .nav-list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    left: 90px;
  }
  
  .nav-list li {
    display: inline-block;
    margin-right: 90px;
  }


  .nav-list li a {
    color: #5ed09b;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
  }
  
  .nav-list li a:hover {
    color: rgb(2, 8, 11);
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #545454;
    padding: 10px 0;
    width: 70px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    color: #a52828;
    padding: 8px 12px;
    width: 150px;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    padding-left: 10px;   
    transform-style: preserve-3d;
  }
  

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 550px;
  padding-top: 35px;
  font-size: large;
  background-color: rgba(83, 71, 93, 0.262);
}

h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 30px;
}
.h33{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 20px;

}


  .bodyy{
    background-color: rgba(200, 196, 173, 0.127);
  }


.galleryy{
  position: relative;
  padding: 60px 00px 10px  ;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

 



.galleryy img {
  border-radius: 10px 10px 10px 10px;
    width: 500px;
    transition: transform 0.3s ease;
    padding-bottom: 20px;
}

.galleryy img:hover {
    cursor: pointer;
    transform: scale(1.05);
}


  .footer{
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding: 20px;
    background-color: #41357e;
    color: white;
}

.footer ul li{
    list-style-type: none;
    transition: all 0.3s ease; 
}

.footer ul li:hover{
    padding-left: 10px;
    color: #c40303;
    cursor:pointer;
}

.footerlast{
    background-color: #41357e;
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: space-around;
    padding-right: 900px;

}
.footerlists li a{
  text-decoration: none;
  color: white;
}

.footerlists li a:hover{
  color: red;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 120px;
}
.footer ul li{
  list-style-type: none;
  transition: all 0.3s ease;
  
}

.footer ul li:hover{
  padding-left: 10px;
  color: #c40303;
  cursor:pointer;
}

.map{
  position: relative;
  height: 190px;
  width: 500px;
}