*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.background-image{
  position:relative;
   left: 0px;
    height: 140px;
    width: 100%;
    margin-top: 0px;
}
.navbar {
    background-color: rgba(6, 18, 60, 0.952);
    color: #b71190;
    padding-top: 5px 0;
    height: 50px;
    width:100%;
    
  }
  
  .nav-list {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100% ;
   
  }
  
  .nav-list ul  li {
    list style-type:none;
    position:relative;
    display: flex;
    flex-direction: row;
    margin-right: 90px;
    width:100%;
    
  }
  
  .nav-list li a {
    color: #5ed09b;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
  }
  
  .nav-list li a:hover {
    color: rgb(2, 8, 11);
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #545454;
    padding: 10px 0;
    width: 70px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    color: #a52828;
    padding: 8px 12px;
    width: 150px;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    padding-left: 10px;   
    transform-style: preserve-3d;
  }

 
  table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-left:0px;
   }
   
   table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 550px;
    padding-bottom: 20px;
    /* left: 310px; */
   }
   
   th {
    background-color:bisque;
   }

   h2{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    /* padding-left: 400px; */
    padding-bottom: 20px;
   }

   h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    display:flex;
    position:relative;
    justify-content:center;
    /* padding-bottom: 20px; */
    padding-top: 20px;
    /* margin-top: 10px; */
    background-color: #abb2bfa5;
   }

   h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    /* padding-left: 320px; */
    padding-bottom: 20px;
    position: relative;
    color: rgba(255, 0, 0, 0.515);
   }

li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 


 .h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0px;
    padding-left: 20px;
    text-decoration: underline;
} 



  .footer{
    display: flex;
    justify-content: space-around;
    height: 400px;
    padding: 20px;
    background-color: #41357e;
    color: white;
}

.footer ul li{
    list-style-type: none;
    transition: all 0.3s ease; 
    padding:4px;
}

.footer ul li:hover{
    padding-left: 10px;
    color: #c40303;
    cursor:pointer;
}

.footerlast{
    background-color: #41357e;
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: space-around;
    padding-right: 900px;

}
.icons{
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.footerlists li a{
  text-decoration: none;
  color: white;
}

.footerlists li a:hover{
  color: red;
}

.map{
  position: relative;
  height: 150px;
  width: 400px;
}




@media only screen and (max-width: 600px) {



  .background-image {
    position: relative;
    margin-left: 0px;
      width: 100%;
      height: auto; 
  }

  .navbar {
    position: relative;
      height: auto;
      padding: 10px 0;
      width: 100%; 
  }

  .nav-list {
    position: relative;
    display:flex;
    flex-direction: column;
    left: 0px;
      padding: 0;
      text-align: start;
     
     }

  .nav-list li {
      display: block;
      margin: 0;
      margin-bottom: 10px; 
  }


h1{
  width: 100%;
  font-size: 15px;
  position: relative;
  padding-left: 30px;
  margin-left: 0px;
}
h2{
  font-size: 15px;
  width: 100%;
  position: relative;
  padding-left: 0px;
  margin-left: 0px;
}


h3{
  font-size: 15px;
  position: relative;
  margin-left: 0px;
}
h3{
  position: relative;
  padding-left: 0px;
  margin-left: 0px;
}

.container{
  width: 100%;
  padding-left: 30px;
  margin-left: 0px;
}
  table {
    width: 100%;
    left: 0px;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
  }
  




  





.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  height:550px;
  width: 100%;
  font-size:18px;
}

  .footerlists {
    position: relative;
    margin-right: 0px;
  
  
}
/* 
.footerlast{
    position: relative;
    display: none;
    margin-left: 10px;
} */

.map{
    display: none;
}
}
