*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.background-image{
    left: -150px;
    height: 140px;
    width: 1610px;
    margin-top: 0px;
    
}
.navbar {
    background-color: rgba(6, 18, 60, 0.952);
    color: #5ed09b;
    padding-top: 5px 0;
    height: 50px;
    
  }
  
  .nav-list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding-left: 90px;
  }
  
  .nav-list li {
    display: inline-block;
    margin-right: 90px;
    
  }
  
  .nav-list li a {
    color: #5ed09b;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
  }
  
  .nav-list li a:hover {
    color: rgb(2, 8, 11);
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px 0;
    width: 70px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    color: #a52828;
    padding: 8px 12px;
    width: 150px;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    padding-left: 10px;   
    transform-style: preserve-3d;
  }


.divv{
    background-color: #9698312b;
}  

  h2{
    padding-left: 550px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: relative;
    color:darkgreen;
  }


  h3{
    padding-left: 170px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: relative;
  }

  img,h4{
    padding-left: 150px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    position: relative;
    color: red;
  }



  .footer{
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding: 20px;
    background-color: #41357e;
    color: white;

}

.footer ul li{
    list-style-type: none;
    transition: all 0.3s ease;
    
}

.footer ul li:hover{
    padding-left: 10px;
    color: #c40303;
    cursor:pointer;
}

.footerlast{
    background-color: #41357e;
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: space-around;
    padding-right: 900px;

}
.icons{
    display: flex;
    justify-content: space-between;
    width: 120px;

  
}
.footerlists li a{
  text-decoration: none;
  color: white;
}

.footerlists li a:hover{
  color: red;
}

.map{
  position: relative;
  height: 190px;
  width: 500px;
}




@media only screen and (max-width: 600px) {



  .background-image {
    position: relative;
    margin-left: 90px;
      width: 425px;
      height: auto; 
      padding-top: 0px;
  }

  .navbar {
    position: relative;
      height: auto;
      padding: 10px 0;
      width: 425px; 
  }

  .nav-list {
    left: 0px;
      padding: 0;
      text-align: start;
     
     }

  .nav-list li {
      display: block;
      margin: 0;
      margin-bottom: 10px; 
  }


div h2 {
  font-size: 30px;
  width: 400px;
  position: relative;
  padding-left: 60px;
  margin-left: 10px;
}

div h3{
  font-size: 20px;
  width: 400px;
  position: relative;
  padding-left: 15px;
  margin-left: 10px;
}

div h4{
  font-size: 20px;
  width: 300px;
  position: relative;
  padding-left: 15px;
  margin-left: 10px;
}
div img{
  width: 400px;
  height: 400px;
  padding-left: 60px;
}

.divv{
  background-color: #9698312b;
  width: 425px;
} 






  





.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  height:600px;
  width: 425px;
}

  .footerlists {
    position: relative;
    margin-right: 0px;
  
  
}

.footerlast{
    position: relative;
    display: none;
    margin-left: 10px;
}

.map{
    display: none;
}
}
